.swiper-navigation-container {
    position: relative;
  }
  
  .custom-prev, .custom-next {
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 10;
  }
  
  .custom-prev {
    left: -35px; /* Adjust this value as needed */
    
  }
  
  .custom-next {
    right: -25px; /* Adjust this value as needed */
    
  }
  
  .custom-pagination {
    position: relative;
    color: red;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after ,
  .swiper-button-next:after, .swiper-rtl .swiper-button-next:after {
    color: red;
    font-size: 2rem;
    
}

.custom-pagination .swiper-pagination-bullet-active {
    background-color: red !important;
}
.swiper-pagination-bullet{
  background-color: white !important;
}
  